<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Theme</ion-label>
      <ion-select [(ngModel)]="settings.theme">
        <ion-select-option value="light">Light</ion-select-option>
        <ion-select-option value="dark">Dark</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Notification Preferences</ion-label>
      <ion-toggle [(ngModel)]="settings.notifications"></ion-toggle>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="saveSettings()">Save</ion-button>
</ion-content>
